<div class="navbar max-w-lg mx-auto">
  <div class="flex-1 mt-2">
    <img src="/signature-noBackground.png" width="160" alt="jeremydudet" />
  </div>
  <div class="flex-none">
    <div class="relative top-[-15px] dropdown dropdown-end dropdown-hover">
      <label tabindex="0" class="btn btn-ghost m-1 text-primary">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
        </svg>
      </label>
      <ul
        tabindex="0"
        class="dropdown-content menu p-2 shadow bg-gray-200 rounded-box w-52 text-primary"
      >
        <li><a>Projects</a></li>
        <li><a>Contact</a></li>
        <li>
          <a
            href="https://docs.google.com/document/d/1GV46KKeN0co1LY_8iiLJejyeXT09X66TKM6l4-PIk_A/edit?usp=sharing"
            target="_blank">Resume</a>
        </li>
      </ul>
    </div>
  </div>
</div>
